body {
  font-family: Arial;
  font-size: 120%;
}

a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

.container-head{
  display: flex;
  height: 120px;
}


button {
  cursor: pointer;
  font-size: 20px;
  background-color: #d6c7ec;
  transition: background-color 0.5s;
  width: 80%;
  height: 50px;
  color: black;
  border-radius: 50px;
  border: 2px solid black;
  box-shadow: 2px 5px 5px;
  margin: 20px;
}

#questions, #end-screen{
  text-align: center;
  padding: 10px;
  background-color: #12d8e7;
  box-shadow: 10px 5px 5px black;
  border-radius: 50px;
}

button:hover {
  background-color: #49ca09;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.correct{
  background-color: #49ca09;
}
.incorrect{
  background-color: red;
}